html,body,h1,h2,h3,h4,h5,h6 {
    font-family: "Roboto", sans-serif;
  }
  
  body {
      font-family: Arial, sans-serif;
      color: inherit;
  }
  
  .header {
      background-color: #B5E2FA;
      color: inherit;
      text-align: center;
      padding: 20px;
      border-radius: 15px;
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  
  .profile-picture img {
      border-radius: 50%;
      width: 200px; 
      height: 200px; 
      padding: 20px;
  }
  
  .profile-info {
      margin-left: 20px;
  }
  
  .buttons {
      display: flex;
      flex-direction: column;
      justify-content: center;
  }
  
  .content {
      display: flex;
      justify-content: space-between;
      padding: 20px;
  }
  .left {
      width: 50%;
      color: inherit;
      padding: 20px;
      background-color: #B5E2FA;
      border-radius: 15px;
      padding-left: 50px;
      background-size: 50%;
    }
  
  .left p{
    padding-left: 40px;
  
  }
  .right {
      width: 50%;
      color: inherit;
      padding-left: 60px;
      margin-right: 30%;
  
  }
  
  .right p{
      padding-left: 40px;  
  }
  
  .right h2{
    color: inherit;
    background-color: inherit;
  }
  
  .bold{
      font-weight: bold;  
  }
  
  .button {
      background-color: white;
      color: #2f3849;
      border: none;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
      border-radius: 10px;
  }
  
  .button:hover {
      background-color: #98a4af;
      color: white;
  }
  